* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MAIN CARD */
.card {
  width: 1200px;
  height: 650px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  display: flex;

  background: linear-gradient(90deg, #ffbb00 60%, #f3e1b6 40%);
}

/* NAV */
.nav {
  position: absolute;
  top: 30px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.menu {
  font-size: 28px;
  cursor: pointer;
}

/* CONTENT */
.content {
  width: 50%;
  padding: 120px 60px;
  color: #000;
}

.tag {
  letter-spacing: 4px;
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: bold;
}

h1 {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 20px;
}

h1:hover {
  cursor: pointer;
}

.desc {
  max-width: 380px;
  line-height: 1.7;
  font-size: 15px;
  margin-bottom: 40px;
  font-weight: 400;
}

/* PAGINATION */
.pagination {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
}

.line {
  width: 50px;
  height: 2px;
  border-radius: 5px;
  background: black;
}

/* PIKACHU IMAGE */
.pikachu {
  position: absolute;
  right: 200px;
  bottom: 100px;
  height: 500px;
}

.pikachu:hover {
  filter: drop-shadow(8px 8px 10px #ffbb00);
  transition: all 0.5s ease-in-out 0.1s;
  cursor: pointer;
}

/* DOTS */
.dots {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.dots span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 10px 0;
  background: #ffbb00;
  border-radius: 50%;
}

.dots .active {
  background: black;
}

/* POKEBALL BACKGROUND */
.pokeball {
  position: absolute;
  bottom: -100px;
  left: 60px;
  width: 250px;
  height: 250px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.pokeball::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
}

.pokeball::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
